<%= stylesheet_link_tag "/assets/avatar.css" %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Nie zapisano z powodu <%= pluralize(@user.errors.count, @jakiBlad) %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<h2>Zmień dane użytkownika</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-inputs">
        <h3>Dane</h3> 
        <%= form_for(@user) do |f| %>
          <div class="form-group">
            <%= f.label "Login" %>
            <%= f.text_field :name, class: "form-control", :autofocus => true, required: true %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="form-group">
    	  	  <%= f.label "Awatar" %>
    	  	  <br>
    	  	  <%= image_tag @user.avatar.url, class: "avatar-user" %>
      			<%= f.file_field :avatar, as: :file %>
      		</div>
          <div class="form-group">
            <%= f.submit "Zmień", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="form-inputs">
        <h3>Zmiana hasła</h3> 
        <%= form_for(@user) do |f| %>
          <div class="form-group">
            <%= f.label "Nowe hasło"%>
            <%= f.password_field :password, class: "form-control", :autocomplete => "off", required: true %>
          </div>
      	  <div class="form-group">
      	  	<%= f.label "Potwierdzenie hasła" %>
      	  	<%= f.password_field :password_confirmation, class: "form-control", :autocomplete => "off", required: true %>
      	  </div>
          <div class="form-group">
            <%= f.submit "Zmień", class: "btn btn-primary" %>
          </div>
          <div class="form-group">
            <b> Zarejestrowany: </b>
            <%= @user.created_at %>
            </br>
            <b> Liczba logowań: </b>
            <%= @user.sign_in_count %>
            </br>
            <b> Ostatnio zmieniono dane: </b>
            <%= @user.updated_at %>
            </br>
             <b> Ostatnio zalogowany: </b>
            <%= @user.current_sign_in_at %>
            <b> z ip: </b>
            <%= @user.current_sign_in_ip %>
            </br>
          </div>
        <% end %>
      </div>
    </div>
    <!-- <div class="panel-footer">
      <h3>Usuń konto</h3>
      <p></p>
    </div> -->
  </div>