<%= stylesheet_link_tag "/assets/link.css" %>
<%= stylesheet_link_tag "/assets/avatar.css" %>
<%= stylesheet_link_tag "/assets/search.css" %>
<%= stylesheet_link_tag "/assets/three-rows.css" %>

<%= link_to '', links_path, class: "btn btn-default btn-outline fa fa-reply", title: "Powrót do strony głownej" %>
</br></br>
<%= form_tag(users_path, :method => "get") do %>
  <ul class="nav navbar-nav pull-left">
    <li>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-outline"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </li>
  </ul>
  </br></br>
  <% if @va %>
    <input name="view" type="checkbox" checked value="admin", onClick="this.form.submit();" />
  <% else %>
    <input name="view" type="checkbox" value="admin", onClick="this.form.submit();" />
  <% end %>
  Pokaż administratorów
  </br></br>
  <% if @sn %>
    <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortName" value="asc", title="Sortuj rosnąco wg nazwy"> Nazwa</button></br>
  <% else %>
    <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortName" value="desc", title="Sortuj malejąco wg nazwy"> Nazwa</button></br>   
  <% end %>
<% end %>
</br>
<%= will_paginate @users, :previous_label => 'Poprzedni', :next_label => 'Następny', renderer: BootstrapPagination::Rails %>
<div class="ul-wrap">
  <%= render :partial => @users %>
</div>
<%= will_paginate @users, :previous_label => 'Poprzedni', :next_label => 'Następny', renderer: BootstrapPagination::Rails %>
<div id="dont-infinite-scrolling"></div>