<%= stylesheet_link_tag "/assets/avatar.css" %>
<%= stylesheet_link_tag "/assets/link.css" %>
<%= stylesheet_link_tag "/assets/miniature.css" %>
<%= stylesheet_link_tag "/assets/pagination.css" %>
<%= stylesheet_link_tag "/assets/user-links.css" %>
<%= stylesheet_link_tag "/assets/search.css" %>
<%= stylesheet_link_tag "/assets/hidden.css" %>

<%= link_to '', links_path, class: "btn btn-default btn-outline fa fa-reply", title: "Powrót do strony głównej" %>

<div class="user-links">
  <div class="panel-body">
     <% if @adminRole %>
       <div class="form-group">
         <h5 class="admin text-center">Administrator</h5>
      </div>
    <% end %>
    <div class="form-group">
       <h3 class="text-center"><%= @user.name %></h3>
     </div>
    <div class="form-group">
    	<%= image_tag @user.avatar.url, class: "avatar-user" %>
    </div>
    <% if @viewEmail %>
      <div class="form-group">
         <span class="text-center"><%= mail_to @user.email %></span>
      </div>
    <% end %>
    <%= form_tag(@user, :method => "get") do %>
      <% if @vp %>
        <button type="submit" class="btn btn-default btn-sort btn-outline" name="view" value="links", title="Pokaż linki">Pokaż linki</button></br>
      <% else %>
        <button type="submit" class="btn btn-default btn-sort btn-outline" name="view" value="posts", title="Pokaż wpisy">Pokaż wpisy</button></br>
      <% end %>
    <% end %>
  </div>
  <div class="links-show">
    <%= form_tag(@user, :method => "get") do %>
      <div class="hidden">
        <% if @vp %>
          <input name="view" type="checkbox" checked value="posts" />
        <% else %>
          <input name="view" type="checkbox" value="links" />
        <% end %>
      </div>
      <ul class="nav navbar-nav pull-left">
        <li>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-outline"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </li>
      </ul>
      </br></br>
      <div class="sort">
        <% if @sd %>
          <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortDate" value="desc", title="Sortuj malejąco wg daty"> Data</button></br>
        <% else %>
          <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortDate" value="asc", title="Sortuj rosnąco wg daty"> Data</button></br>
        <% end %>
        <% if @sn %>
          <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortName" value="desc", title="Sortuj malejąco wg nazwy"> Nazwa</button></br>
        <% else %>
          <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortName" value="asc", title="Sortuj rosnąco wg nazwy"> Nazwa</button></br>
        <% end %>
        <% if !@vp %>
          <% if @sv %>
            <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortVote" value="asc", title="Sortuj rosnąco wg oceny"> Ocena</button></br>
          <% else %>
            <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortVote" value="desc", title="Sortuj malejąco wg oceny"> Ocena</button></br>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div id="links">
      <%= render :partial => @links %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
  
<%= javascript_include_tag "/assets/pagination.js" %>