<%= stylesheet_link_tag "/assets/avatar.css" %>
<%= stylesheet_link_tag "/assets/link.css" %>
<%= stylesheet_link_tag "/assets/miniature.css" %>
<%= stylesheet_link_tag "/assets/pagination.css" %>
<%= stylesheet_link_tag "/assets/user-links.css" %>

<div class="user-links">
  <div class="panel-body">
     <% if @adminRole %>
       <div class="form-group">
         <h5 class="admin text-center">Administrator</h5>
      </div>
    <% end %>
    <div class="form-group">
       <h3 class="text-center"><%= @user.name %></h3>
     </div>
    <div class="form-group">
    	<%= image_tag @user.avatar.url, class: "avatar-user" %>
    </div>
    <% if @viewEmail %>
      <div class="form-group">
         <span class="text-center"><%= mail_to @user.email %></span>
      </div>
    <% end %>
  </div>
  <div class="links-show">
    <%= form_tag(@user, :method => "get") do %>
      <ul class="nav navbar-nav pull-left">
        <li>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-outline"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </li>
      </ul>
      </br></br>
      <% if @sd %>
        <button type="submit" class="btn-link" name="sortDate" value="desc">Sortuj wg daty (malejąco)</button></br>
      <% else %>
        <button type="submit" class="btn-link" name="sortDate" value="asc">Sortuj wg daty (rosnąco)</button></br>
      <% end %>
      <% if @sn %>
        <button type="submit" class="btn-link" name="sortName" value="desc">Sortuj wg nazwy (malejąco)</button></br>
      <% else %>
        <button type="submit" class="btn-link" name="sortName" value="asc">Sortuj wg nazwy (rosnąco)</button></br>
      <% end %>
      <% if @sv %>
        <button type="submit" class="btn-link" name="sortVote" value="asc">Sortuj wg oceny (rosnąco)</button></br>
      <% else %>
        <button type="submit" class="btn-link" name="sortVote" value="desc">Sortuj wg oceny (malejąco)</button></br>
      <% end %>
    <% end %>
    <div id="links">
      <%= render :partial => @links %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
  
<%= javascript_include_tag "/assets/pagination.js" %>