<%= stylesheet_link_tag "/assets/link.css" %>
<%= stylesheet_link_tag "/assets/comment.css" %>
<%= stylesheet_link_tag "/assets/avatar.css" %>
<%= stylesheet_link_tag "/assets/search.css" %>

<%= link_to '', links_path, class: "btn btn-default btn-outline fa fa-reply", title: "Powrót do strony głównej" %>

<h1>Hasztagi</h1>
<%= form_tag(@link, :method => "get") do %>
  <ul class="nav navbar-nav pull-left">
    <li>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-outline"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </li>
  </ul>
  </br></br>
  <div class="sort">
    <% if @sn %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortName" value="asc", title="Sortuj rosnąco wg nazwy"> Nazwa</button></br>
    <% else %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortName" value="desc", title="Sortuj malejąco wg nazwy"> Nazwa</button></br>
    <% end %>
    <% if @sc %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortCount" value="asc", title="Sortuj rosnąco wg ilości"> Ilość</button></br>
    <% else %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortCount" value="desc", title="Sortuj malejąco wg ilości"> Ilość</button></br>
    <% end %>
  </div>
<% end %>
</br>
<%= will_paginate @links, :previous_label => 'Poprzedni', :next_label => 'Następny', renderer: BootstrapPagination::Rails %>
<div class="ul-wrap">
<% @hashtags.each do |hashtag| %>
    <li><%= link_to hashtag.name, hashtag_path(hashtag.name) %></li>
<% end -%>
</div>
<%= will_paginate @links, :previous_label => 'Poprzedni', :next_label => 'Następny', renderer: BootstrapPagination::Rails %>
