<%= stylesheet_link_tag "/assets/avatar.css" %>
<%= stylesheet_link_tag "/assets/pagination.css" %>
<%= stylesheet_link_tag "/assets/hashtag.css" %>

<%= link_to '', hashtags_path, class: "btn btn-default btn-outline fa fa-reply", title: "Powrót do strony z hasztagami" %>

<h1><%= params[:hashtag] %></h1>

<%= form_tag(hashtag_path(params[:hashtag]), :method => "get") do %>
  <% if @sd %>
    <button type="submit" class="btn btn-default btn-sort btn-outline glyphicon glyphicon-arrow-up" name="sortDate" value="desc", title="Sortuj malejąco wg daty">Data</button></br>
  <% else %>
    <button type="submit" class="btn btn-default btn-sort btn-outline glyphicon glyphicon-arrow-down" name="sortDate" value="asc", title="Sortuj rosnąco wg daty">Data</button></br>
  <% end %>
<% end %>
</br>

<% if @hashtagged %>
  <div id="hashtagged">
    <div id="views-hashtags">
      <% @hashtagged.each do |hashtagged| %>
        <%= render_hashtaggable hashtagged %>
      <% end -%>
    </div>
  </div>
<% else -%>
  <p>Brak wyników dla <em><%= params[:hashtag] %></em>.</p>
<% end -%>
<div id="infinite-scrolling">
  <%= will_paginate @hashtagged, renderer: BootstrapPagination::Rails  %>
</div>

<%= javascript_include_tag "/assets/pagination.js" %>
