<%= stylesheet_link_tag "/assets/bius.css" %>

<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Tytuł" %><br>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>
  
  <div class="form-group">
    <%= f.label "Opis" %><br>
    <div class="field">
      <%= f.text_area :description, class: "form-control", id:"myText" %>
      <a id="boldButtom" class="btn btn-default" title="Pogrubienie"><span class="fa fa-bold"></span></a>
      <a id="italicButtom" class="btn btn-default" title="Kursywa"><span class="fa fa-italic"></span></a>
      <a id="underlineButtom" class="btn btn-default" title="Podkreślenie"><span class="fa fa-underline"></span></a>
      <a id="strikethroughButtom" class="btn btn-default" title="Przekreślenie"><span class="fa fa-strikethrough"></span></a>
      <a class="btn btn-default" href="/pages/emoticons.html" target="_blank" title="Dostępne emotikony"><span class="fa fa-smile-o"></span></a>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label "Link" %><br>
    <% if @blokadaURL %>
      <%= f.text_field :url, class: "form-control", readonly: true %>
    <% else %>
      <%= f.text_field :url, class: "form-control", required: true %>
    <% end %>
  </div>
  
  <br>
  <div class="form-group">
    <%= f.submit "Wyślij", class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= javascript_include_tag "/assets/bius.js" %>

<% end %>