<%= stylesheet_link_tag "/assets/comment.css" %>
<%= stylesheet_link_tag "/assets/link.css" %>

<%= div_for(link) do %>
	<% if @hashtagged %>
    <div class="comments_wrapper clearfix">
    	<div>
    		<h1><%= link_to link.title, link %></h1>
    		<div class="com-column">
    			<div class="com-row">
    				<div>
    					<%= link_to  image_tag(link.user.avatar.url, class: "avatar-com"), link.user %></br>
    					<div class="user-name"><strong><%= link_to link.user.name, link.user %></strong></div>
    				</div>
    				<div class="description-hashtag">
    				  <p class="lead"><%= sanitize link.description, tags: %w(b i u s a img br) %></p></div>
    				</div>
    				<p>
    				  <small>Przesłano <strong><%= time_ago_in_words(link.created_at) %></strong> temu</small>
    				</p>
    			</div>
    		</div>
    	</div>
  	</div>
  <% else %>
    <div class="row clearfix">
      <h2>
        <%= link_to link.title, link %>
        <font size="2">
          <%= (link.ci_lower_bound(link.get_upvotes.size, link.get_upvotes.size+link.get_downvotes.size, 0.95)*0.1).round(2) %>/10
        </font>
        <br>
        <font size="5">
          <%= sanitize link.description, tags: %w(b i u s a br)%>
        </font>
        <br>
        <a href="<%= link.url %>" target="_blank" title="<%= link.title %>" ><img src="<%= link.generate_image(link) %>" class="miniaturka" ></a>
        <br>
        <font size="4">
          <small class="author">Przesłano <%= time_ago_in_words(link.created_at) %> przez <%= link_to link.user.name, link.user %></small>
        </font>
        
      </h2>
    
      <div class="btn-group">
        <a class="btn btn-default btn-sm glyphicon glyphicon-eye-open eye" href="<%= link.url %>", target="_blank", title="Zobacz link"></a>
        <% if user_signed_in? %>
          <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-up"></span>
            <%= link.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-chevron-down"></span>
            <%= link.get_downvotes.size %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>