<%= stylesheet_link_tag "/assets/comment.css" %>

<%= div_for(link) do %>
	<% if @hashtagged %>
    	<div class="comments_wrapper clearfix">
    		<div>
    			<h1><%= link_to link.title, link %></h1>
    			<div class="com-column">
    				<div class="com-row">
    					<div>
    						<%= image_tag link.user.avatar.url, class: "avatar-com" %></br>
    						<div class="user-name"><strong><%= link.user.name %></strong></div>
    					</div>
    					<div class="description-hashtag">
    					    <p class="lead"><%= sanitize link.description %></p></div>
    				</div>
    				<p><small>Przesłano <strong><%= time_ago_in_words(link.created_at) %></strong> temu</small></p>
    			</div>
    		</div>
    	</div>
    <% end %>
<% end %>