<%= stylesheet_link_tag "/assets/miniature.css" %>

<%= link_to '#', hashtags_path, class: "btn btn-default" %> 
<%= form_tag(links_path, :method => "get", id: "search-form") do %>
<ul class="nav navbar-nav pull-left">
    <li>
      <div class="input-group">
        <%= text_field_tag :search, params[:search],  class: "form-control", placeholder: "Szukaj" %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-outline"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </li>
  </ul>
<% end %>
<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %> <%= link.ci_lower_bound(link.get_upvotes.size, link.get_upvotes.size+link.get_downvotes.size, 0.95) %>%
      </br>
      <a href="<%= link.url %>" target="_blank" title="<%= link.title %>" ><img src="<%= link.generate_image(link) %>" class="miniaturka" ></a>
      </br>
      <small class="author">Przesłano <%= time_ago_in_words(link.created_at) %> przez <%= link.user.name %></small>
    </h2>

    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link.url %>", target="_blank">Podgląd</a>
      <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        <%= link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        <%= link.get_downvotes.size %>
      <% end %>
    </div>
  </div>
<% end %>