<%= stylesheet_link_tag "/assets/link.css" %>
<%= stylesheet_link_tag "/assets/miniature.css" %>
<%= stylesheet_link_tag "/assets/text.css" %>
<%= stylesheet_link_tag "/assets/search.css" %>

<%= form_tag(links_path, :method => "get") do %>
  <ul class="nav navbar-nav pull-left">
    <li>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Szukaj" %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-outline"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </li>
  </ul>
  </br></br>
  <div class="sort">
    <% if @sd %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortDate" value="desc", title="Sortuj malejąco wg daty"> Data</button></br>
    <% else %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortDate" value="asc", title="Sortuj rosnąco wg daty"> Data</button></br>
    <% end %>
    <% if @sn %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortName" value="desc", title="Sortuj malejąco wg nazwy"> Nazwa</button></br>
    <% else %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortName" value="asc", title="Sortuj rosnąco wg nazwy"> Nazwa</button></br>
    <% end %>
    <% if @sv %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-down" name="sortVote" value="asc", title="Sortuj rosnąco wg oceny"> Ocena</button></br>
    <% else %>
      <button type="submit" class="btn btn-default btn-sort btn-outline fa fa-arrow-up" name="sortVote" value="desc", title="Sortuj malejąco wg oceny"> Ocena</button></br>
    <% end %>
  </div>
<% end %>
<%= will_paginate @links, :previous_label => 'Poprzedni', :next_label => 'Następny', renderer: BootstrapPagination::Rails %>
<%= render :partial => @links %>
<%= will_paginate @links, :previous_label => 'Poprzedni', :next_label => 'Następny', renderer: BootstrapPagination::Rails %>