<%= form_tag(links_path, :method => "get", id: "search-form") do %>
  <ul class="nav navbar-nav pull-left width-search">
    <li><%= text_field_tag :search, params[:search],  class: "navbar-left form-control", placeholder: "Szukaj" %></li>
    <li><div class = "przycisk"><button type="submit" class="navbar-left btn btn-default btn-outline glyphicon glyphicon-search"></button></div></li>
  </ul>
<% end %>
<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Przesłano <%= time_ago_in_words(link.created_at) %> przez <%= link.user.name %></small>
    </h2>

    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link.url %>", target="_blank">Podgląd</a>
      <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        <%= link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        <%= link.get_downvotes.size %>
      <% end %>
    </div>
  </div>
<% end %>