<div class="page-header">
  <h1>
    <a href="<%= @link.url %>", target="_blank"><%= @link.title %></a>
    <%= @link.ci_lower_bound(@link.get_upvotes.size, @link.get_upvotes.size+@link.get_downvotes.size, 0.95) %>%
    </br>
    <a href="<%= @link.url %>" target="_blank" title="<%= @link.title %>" ><img src="<%= @link.generate_image(@link) %>" class="miniaturka" ></a>
    </br>
    <small>Przesłane przez <%= @link.user.name %></small>
  </h1>
</div>

<div class="btn-group">
	<%= link_to 'Podgląd', @link.url, class: "btn btn-primary", target: "_blank" %>
</div>

<div class="btn-group pull-right">
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down"></span>
    <%= @link.get_downvotes.size %>
  <% end %>
</div>

<% if @link.user == current_user -%>
	<div class="btn-group">
		<%= link_to 'Edytuj', edit_link_path(@link), class: "btn btn-default" %>
		<%= link_to 'Usuń', @link, method: :delete, data: { confirm: 'Na pewno?' }, class: "btn btn-default" %>
	</div>
<% end %>

<h3 class="comments_title">
  <%= @link.comments.count %>
  <% if @link.comments.count === 0 || @link.comments.count >= 5  %>
    komentarzy
  <% elsif @link.comments.count === 1 %>
    komentarz
  <% else %>
    komentarze
<% end %>  
</h3>

<%= simple_form_for [@link, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control", required: true %>
  </div>
  <br>
  <%= f.submit "Dodaj komentarz", class: "btn btn-primary" %>
<% end %>
<br>
<div id="comments">
  <%= render :partial => @link.comments %>
</div>