<%= stylesheet_link_tag "/assets/comment.css" %>
<%= stylesheet_link_tag "/assets/post.css" %>

<%= link_to '', links_path, class: "btn btn-default btn-outline fa fa-reply", title: "Powrót do strony głównej" %>

<h1>Mikroblog</h1>
</br>
<% if current_user %>
    <%= link_to 'Nowy wpis', new_post_path, class: "btn btn-primary" %>
    </br></br>
<% end %>
<%= render :partial => @posts %>