<p id="notice"><%= notice %></p>

<h1>Posty</h1>

    <% @posts.each do |post| %>
      <div class="post_wrapper"
        <h2 class="title"><%= link_to post.title, post %></h2>
        <p class="date">
          <font size="2">
            <small>Przesłane <strong><%= time_ago_in_words(post.created_at) %></strong> temu przez <%= link_to post.user.name, post.user %></small>
          </font>
        </p>
      </div>
    <% end %>


<br>

<%= link_to 'Nowy post', new_post_path %>
