<p id="notice"><%= notice %></p>

<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="body">
    <%= @post.body %>
  </p>
  <font size="2">
    <small>Przesłane przez <%= link_to @post.user.name, @post.user %></small>
  </font>

  <div id="post_comments">
    <h3><%= @post.post_comments.count %> Komentarzy</h3>
    <%= render @post.post_comments %>
  
    <h3>Dodaj komentarz:</h3>
    <%= render "post_comments/form" %>
  </div>
</div>
<%= link_to 'Edytuj', edit_post_path(@post) %> |
<%= link_to 'Wróć', posts_path %>
